@import 'tailwindcss';

@theme {
  --dispocol-main-color : #4676B8;
  --dispocol-secondary-color : #aacaee;
  --dispocol-neutral-color : #cdcfcf;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
